@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --nav-bg-color--:#EEEBDD;
    --nav-button-bgcolor--:#810000;
    --table-td-bg-color--:#dbdad2;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Open Sans", sans-serif;
  
}


nav{
    
    height: 100%;
    width: 10%;
    background-color: var(--nav-bg-color--);
    overflow: hidden;

}

nav > div{
    display: flex;
    
   justify-content: center;
   align-items: center;
 
}

nav > :first-child{
    width: 100%;
    height: 12%;
   

}
nav > div:not(:first-child){
   
    height: 5%;
    width: 100%;
    color: var(--nav-button-bgcolor--);
    display: flex;
    font-size: 50%;

}

nav > div:not(:first-child,:last-child){
   
    cursor: pointer;
 
 }

nav > div:not(:first-child) > svg{
    width: 15%;
    padding: 2%;

}

nav > div:nth-child(6){
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
}

nav > div:not(:first-child) > h1{
    width: 65%;
}

nav > div:not(:first-child,:last-child,:nth-child(6)):hover{  
    background-color: var(--table-td-bg-color--);
  }



nav > :last-child button{

   width: 70%;
   height: 80%;
   border-radius: 30px;
   border: none;
   background-color:var(--nav-button-bgcolor--) ;
   color: var(--nav-bg-color--);
   font-family: "Open Sans", sans-serif;
   font-weight: bolder;
   font-size: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

nav > :last-child button > svg{

    width: 30%;
}

nav > :last-child button:active{
    background-color:var(--nav-bg-color--) ;
    color: var(--nav-button-bgcolor--);
    outline: 1px solid var(--nav-button-bgcolor--);   
 }

.logo_wrapper img{
    height: 50%;
}



main{
    background-color: var(--nav-bg-color--);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page_title{
    width: 100%;
   
    height: 5%;
    display: grid;
    place-items: center;
}

.content_wrapper{
    height: 95%;
    width: 100%;
    display: flex;
    place-content: left; 
}

.content_wrapper form{ 
    width: 150%;
    height: 100%;
    display: grid;
    place-content: center; 
}

.header-text{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10%;
    color: var(--nav-button-bgcolor--);
}
.content_wrapper label{
    font-size: 18px;
    margin-bottom: 3%;
}
.content_wrapper input{
    padding: 5% ;
    font-size: 18px;
    border-radius: 15px;
    border: none;
}

.submit-btn{
    width: 100%;
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
    cursor: pointer;
}



/* Phone*/

@media screen and (max-width: 767px) {
    nav{
        width: 20%;
   
    }
    
    nav > :first-child{
        
        height: 10%;
    }

    nav h1{
        font-size: 80%;
    }
    nav > div:last-child button{
        width: 80%;
        height: 60%;
        font-size: 10%;
     }

     .page_title h1{
        font-size: 100%;
     }




}


/* Tablet*/
@media screen and (min-width: 768px) and  (max-width: 1280px)   {

    nav{
        width: 20%;
    }

    nav h1{
        font-size: 100%;
    }
    nav > div:last-child button{
        width: 50%;
        height: 50%;
     }

     .page_title h1{
        font-size: 100%;
     }

}

@media screen and (max-width: 932px) and (orientation:landscape){

    nav{
        width: 20%;
   
    }

    nav > :first-child {
     height: 20%;
 
    }

    nav > div:last-child button{
        width: 40%;
     
   
     }
    
}

@media screen and (min-width: 933px) and  (max-width: 1280px)  and (orientation:landscape) {

    nav > div:last-child button{
    width: 40%;
    }

    nav > div:not(:first-child,:last-child) svg{
        width: 10%;
    }

}



/* Tablet landscape*/
