@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');

:root{
    --background_color_left_container--:#e25d70;;
    --nav-header--:#EEEBDD;
    --menu-logo--:#810000; 
    --table-td-bg-color--:#dbdad2;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    
    font-family: "Open Sans", sans-serif;
    background-color: var(--nav-header--);

}

main{
    background-color:var(--nav-header--);
    border: 1px solid var(--menu-logo--);
    color: var(--menu-logo--);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%,50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    box-shadow: 10px 10px var(--table-td-bg-color--);
    text-align: center;
    border-radius: 15px;
}

.Timer_wrapper{
    border: 2px solid var(--menu-logo--);
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: .8rem;

}

.Timer_wrapper h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main button{
    background-color: var(--menu-logo--);
    color: var(--nav-header--);
    border: none;
    padding: 2%;
    font-size: .8rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}

main button:active{
    color: var(--menu-logo--);
    background-color: var(--nav-header--);
    outline: 1px solid var(--menu-logo--);

}

@media screen and (max-width: 767px) {

    main{
        font-size: .5rem;

      }

      .Timer_wrapper {
        width: 5rem;
        height: 5rem;
        font-size: .5rem;
      }

      main button{
        font-size: .5rem;
        padding: 5%;
      }

}

@media screen and (max-width: 932px) and (orientation:landscape){

      main{
        font-size: .4rem;

      }

      .Timer_wrapper {
        width: 4rem;
        height: 4rem;
        font-size: .4rem;
      }

      main button{
        font-size: .5rem;
        padding: 3%;
        border-radius: 3px;
       
      }


}