@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --nav-bg-color--:#EEEBDD;
    --nav-button-bgcolor--:#810000;
    --table-td-bg-color--:#dbdad2;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;

  
}



nav{
    
    height: 100%;
    width: 10%;
    background-color: var(--nav-bg-color--);
    overflow: hidden;

}

nav > div{
    display: flex;
    
   justify-content: center;
   align-items: center;
 
}

nav > :first-child{
    width: 100%;
    height: 12%;
   

}
nav > div:not(:first-child){
   
    height: 5%;
    width: 100%;
    color: var(--nav-button-bgcolor--);
    display: flex;
    font-size: 50%;

}

nav > div:not(:first-child,:last-child){
   
    cursor: pointer;
 
 }

nav > div:not(:first-child) > svg{
    width: 15%;
    padding: 2%;

}

nav > div:nth-child(5){
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
}

nav > div:not(:first-child) > h1{
    width: 65%;
}

nav > div:not(:first-child,:last-child,:nth-child(5)):hover{  
    background-color: var(--table-td-bg-color--);
  }


nav > :last-child button{

   width: 70%;
   height: 80%;
   border-radius: 30px;
   border: none;
   background-color:var(--nav-button-bgcolor--) ;
   color: var(--nav-bg-color--);
   font-family: "Open Sans", sans-serif;
   font-weight: bolder;
   font-size: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

nav > :last-child button > svg{

    width: 30%;
}

nav > :last-child button:active{
    background-color:var(--nav-bg-color--) ;
    color: var(--nav-button-bgcolor--);
    outline: 1px solid var(--nav-button-bgcolor--);   
 }

.logo_wrapper img{
    height: 50%;
}


main{
    background-color: var(--nav-bg-color--);
    width: 90%;
 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
    
 
}

.page_title{
    width: 100%;
   
    height: 5%;
    display: grid;
    place-items: center;
}

.content_wrapper{
    height: 95%;
    width: 100%;
    background-color: aqua;
    display: flex;

}

.To_Prepare{
    background-color: pink;
    width:33.33%;
    display: flex;
    flex-direction: column;

    position: relative;
    overflow-y: auto;
}

.To_Prepare h3{

    background-color: yellow;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

.To_Prepare_Ajax{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}



table{
    position: relative;
    width: 90%;
    height: 30%;
    text-wrap: nowrap;
    font-size: 1rem;
    text-align: center;

    border-color: black; 
    color: var(--nav-button-bgcolor--);
    position:  relative;
    background-color: var(--nav-bg-color--);
}

table tr th{
    background-color: var(--table-td-bg-color--);
    color: var(--nav-button-bgcolor--);
    padding: 1%;
    width: 25%;

}




table tr:first-child th:first-child{
    background-color:var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);   
}

table tr td{
    background-color:var(--table-td-bg-color--);
    padding: 1%;
   
}

 table tbody tr td img{
    height: 5rem;
    
}

table tbody tr td button{
  border: none;
  background-color: var(--nav-button-bgcolor--);
  color: var(--nav-bg-color--);
  padding: 3%;
  margin: 3%;
  cursor: pointer;   
}

table tbody tr td button:active{
    outline: 1px solid var(--nav-button-bgcolor--);
    color: var(--nav-button-bgcolor--);
    background-color: var(--nav-bg-color--);
}

table tbody tr td select{

   padding-top: 3%;
   padding-bottom: 3%;
}
.Recieved{
    background-color: pink;
    width:33.33%;
    display: flex;
    flex-direction: column;

    position: relative;
    overflow-y: auto;
}


.Recieved h3{
  
    background-color: forestgreen;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

.Recieve_Ajax{
    background-color: azure;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}



.Done{
    background-color: pink;
    width:33.33%;
    display: flex;
    flex-direction: column;

    position: relative;
    overflow-y: auto;
}


.Done h3{
  
    background-color: lightblue;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

.Done_Ajax{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.SetStatus{
    background-color: aqua;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    transform: translate(60%,50%);
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;

    cursor: grab;


    border-radius: 8px;
    transition: transform 0.1s ease;

}

.SetStatus:active{
    cursor: grabbing;


}

.SetStatus h2{
    display: grid;
    place-items: center;
    height: 10%;
    width: 100%;
    background-color: lightblue;
}

.SetStatus h3{
    display: grid;
    place-items: center;
  
    height: 10%;
    width: 100%;
    background-color: lightcoral;
}

.SetStatus section{
    height: 80%;
    width: 40%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SetStatus section select{
    padding: 3%;
}

.SetStatus section button{
    padding: 3%;
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
    cursor: pointer;
    border: none;
    width: 40%;
    border-radius: 30px;

}

.SetStatus section button:active{
    
    color: var(--nav-button-bgcolor--);
    background-color: var(--nav-bg-color--);
    border: 1px solid var(--nav-button-bgcolor--);


}

.button_wrapper{
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5%;
    width: 40%;
    height: 10%;

   

}






/* Phone */



@media screen and (max-width: 767px) {
    nav{
        width: 20%;
   
    }
    
    nav > :first-child{
        
        height: 10%;
    }

    nav h1{
        font-size: 80%;
    }
    nav > div:last-child button{
        width: 80%;
        height: 60%;
        font-size: 10%;
     }

     .page_title h1{
        font-size: 100%;
     }
     /*-------*/
     .content_wrapper{
        flex-direction: column;
     
     }

     .To_Prepare,.Recieved,.Done{
        width: 100%;
        height: 33.33%;
        position: relative;

     }

     .To_Prepare h3,.Recieved h3,.Done h3{

        font-size: .8rem;
    }

     table{
        font-size: .5rem;
        width: 90%;
     }




     table tbody tr td button{
      font-size: .5rem;
      }

      table tbody tr td select{
        font-size: .5rem;
        width: 50%;
        
    }


    .SetStatus section{
        
        width: 80%;
      
    }


    .button_wrapper{
        
        width: 80%;
    }

    .SetStatus{

        font-size: .8rem;
    }
    
     






}


/* Tablet*/
@media screen and (min-width: 768px) and  (max-width: 1280px)   {

    nav{
        width: 20%;
    }

    nav h1{
        font-size: 100%;
    }
    nav > div:last-child button{
        width: 50%;
        height: 50%;
     }

     .page_title h1{
        font-size: 100%;
     }

     .content_wrapper{
        flex-direction: column;
     
     }

     .To_Prepare,.Recieved,.Done{
        width: 100%;
        height: 33.33%;
        position: relative;

     }

     .To_Prepare h3,.Recieved h3,.Done h3{

        font-size: .8rem;
    }

     table{
        font-size: .5rem;
        width: 90%;
     }


    table tbody tr td button{
      font-size: .8rem;
  
    }

    table tbody tr td select{
        font-size: .8rem;
        width: 80%; 
    }

    .SetStatus section{   
        width: 80%;   
    }

    .button_wrapper{       
        width: 80%;
    }

    .SetStatus{

        font-size: .8rem;
    }
    

}

@media screen and (max-width: 932px) and (orientation:landscape){

    nav{
        width: 20%;
   
    }

    nav > :first-child {
     height: 20%;
 
    }

    nav > div:last-child button{
        width: 40%;
     
   
     }

     .content_wrapper{
        flex-direction: row;
        width: 100%;
     
     }

     .To_Prepare,.Recieved,.Done{
        width: 33.33%;
        height: 100%;
        position: relative;

     }
     
    table{
            font-size: .3rem;
      
     }

     table tbody tr td button{
        font-size: .4rem;
    
        }

    
        .SetStatus{
            height: 80%;
       
            transform: translate(70%,15%);
        }

        




    
}

@media screen and (min-width: 933px) and  (max-width: 1280px)  and (orientation:landscape) {

    nav > div:last-child button{
    width: 40%;
    }

    nav > div:not(:first-child,:last-child) svg{
        width: 10%;
    }

    table{
        font-size: .6rem;
        width: 90%;
     }

     
     .content_wrapper{
        flex-direction: row;
        width: 100%;
     
     }

     .To_Prepare,.Recieved,.Done{
        width: 33.33%;
        height: 100%;
        position: relative;

     }
     table{
        width: 90%;
      
     }
     
     table tbody tr td button{
      font-size: .6rem;
      }

      table tbody tr td select{
        font-size: .8rem;
        width: 50%;
        
    }

}



